<h1>Supermarket watch</h1>
<form (submit)="search(name.value)">
  <input #name>
  <button type="submit">Search</button>
</form>

<div class="results" *ngIf="data">
  <ng-container
    *ngFor="let supermarket of data.supermarkets"
  >
    <h2 class="results__header">{{ supermarket.name }}</h2>
    <div class="results__item" *ngFor="let item of supermarket.items">
      <img [src]="item.image" width="200" height="200">
      <h3>{{ item.name }} {{ item.price | currency:"GBP" }}</h3>
    </div>
  </ng-container>
</div>

<pre><code>{{ data | json }}</code></pre>
