# API parameters
TESCO_URL=
SAINSBURYS_URL=
WAITROSE_URL=

# Hostname, used for the nginx proxy in docker-compose.yml
HOSTNAME=

# Internally bound port
PORT=
# Externally bound port
HOST_PORT=

VCR_MODE=
