# See http://help.github.com/ignore-files/ for more about ignoring files.

# Copy from .env.dist for your specific configuration
/.env

# compiled output
/dist
/tmp
/out-tsc
.output
.vercel
/.svelte-kit
/build

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# IDE - IDEA
**/.idea

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log

# System Files
.DS_Store
Thumbs.db

# Local test code
/db
.cache/
/db_backups/

/*.http
