# package directories
node_modules

# Serverless directories
.serverless
.build

# Webpack directories
.webpack

# IDE
**/.idea

# OS
.DS_Store
.tmp

# Logs
*.log

# Output directories
dist/

# Copy from .sample.yml for your specific configuration
./docker-compose.yml
