.add-product-dialog {
  $spacing: 1rem;
  position: fixed;
  left: $spacing;
  right: $spacing;
  top: $spacing;
  bottom: $spacing;
  z-index: 1000;

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    max-height: 100%;
    overflow-y: auto;
    box-shadow: rgba(0,0,0,0.3) 0 3px 8px 3px;
    border-radius: 3px;

    padding: 1rem;
  }

  &__close {
    border: 0;
    background-color: transparent;
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 100;
  }
}
