<div class="content search-page">
  <h2 class="title">Search</h2>

  <app-search-box
    [isSearching]="isSearching"
    [searchText]="query"
    (search)="search($event)"
  ></app-search-box>

  <ul *ngIf="results?.length" class="results">
    <li *ngFor="let result of results; trackBy trackItem" class="results__item result">
      <div
        class="result__image"
        [style.backgroundImage]="'url(' + result.image + ')'"
      ></div>
      <button
        class="result__favourite"
        [class.result__favourite--selected]="isFavourite(result.id)"
        (click)="setFavourite(result.id)"
      ></button>
      <p class="result__supermarket">{{ result.supermarket }}</p>
      <p class="result__name">{{ result.name }}</p>
      <p
        class="result__price"
        [class.result__price--special-offer]="result.specialOffer"
      >{{ result.price | currency:'GBP' }}</p>
      <p
        *ngIf="result.specialOffer"
        class="result__special-offer"
      >
        {{ result.specialOffer.offerText }}, <span style="white-space: nowrap">was {{ result.specialOffer.originalPrice | currency:'GBP'  }}</span> <span style="color: #888; margin-left: 0.25rem; white-space: nowrap">until {{ result.specialOffer.validUntil | date: 'dd/MM' }}</span>
      </p>
    </li>
  </ul>
</div>

{{ results | json }}
