<div class="edit-product-dialog">
  <button class="edit-product-dialog__close" (click)="onClose()" style="cursor: pointer">
    Close
  </button>

  <div class="edit-product-dialog__content">
    <h1>Edit Item Group</h1>
    <h2
      *ngIf="!isEditingName; else editingName"
    >{{ group.name }}
      <button
        class="edit-product-dialog__edit-name-button button-link"
        (click)="isEditingName = true"
        style="cursor: pointer"
      >Edit</button>
    </h2>
    <ng-template #editingName>
      <input
        type="text"
        class="edit-product-dialog__name-input"
        [(ngModel)]="details.name"
      />
    </ng-template>

    <h3 class="edit-product-dialog__items-title">
      Items
      <button
        class="edit-product-dialog__edit-items-button button-link"
        (click)="isRemovingItems = !isRemovingItems"
        style="cursor: pointer"
      >{{ isRemovingItems ? 'Done' : 'Edit' }}</button>
    </h3>
    <ul
      class="edit-product-dialog__product-list"
      [class.edit-product-dialog__product-list--edit]="isRemovingItems"
    >
      <li
        *ngFor="let product of group.products"
        class="edit-product-dialog__product-list-item"
      >
        {{ product.name }} (<em>{{ product.supermarket }}</em>)
        <button
          *ngIf="isRemovingItems"
          class="edit-product-dialog__remove-button button-link"
          (click)="onRemoveProduct(product)"
        >Remove</button>
      </li>
    </ul>

    <div class="edit-product-dialog__buttons">
      <button class="edit-product-dialog__button button-link edit-product-dialog__button--delete edit-product-dialog__button--left" (click)="onDelete()">Delete Item</button>
      <button class="edit-product-dialog__button" (click)="onClose()">Cancel</button>
      <button class="edit-product-dialog__button" type="submit" (click)="onConfirm()">Save</button>
    </div>
  </div>
</div>
