:host {
  display: block;
}

.price-comparison-card {
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  padding: 8px;
  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "image name price"
    "image data data"
    "graph graph graph";

  $padding: 0.5rem;

  &__image {
    width: 20vw;
    max-width: 150px;
    min-width: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    flex-shrink: 0;
    margin-right: $padding;
    grid-area: image;

    &::before {
      display: block;
      content: '';
      padding-top: 100%;
      width: 100%;
    }
  }

  &__name {
    font-size: 1.1em;
    font-weight: 500;

    grid-area: name;
  }

  &__price-area {
    font-weight: 300;
    text-align: right;

    grid-area: price;
    justify-content: start;
  }

  &__price {
    margin-bottom: 0.5rem;
  }

  &__reduction {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: red;
  }

  &__usual-price {
    display: block;
    text-align: right;
  }

  &__best-price {
    font-weight: 400;
    font-size: 1.1em;
  }

  &__items {
    grid-area: data;
  }

  &__original-price {
    position: relative;

    &::before {
      display: block;
      content: '';
      border-bottom: 1px solid #444;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
    }
  }

  &__graph {
    grid-area: graph;
    margin-top: 1rem;
  }
}
