<div class="price-comparison-card">
  <div
    class="price-comparison-card__image"
    [style.background-image]="backgroundImage"
  ></div>
  <p class="price-comparison-card__name">{{ priceComparison.name }}</p>
  <p class="price-comparison-card__price">
    <!-- @formatter:off -->
    {{
      priceComparison.pricePerUnit.best | currency:'GBP'
    }}/{{
      priceComparison.unitOfMeasurement.amount === 1 ? '' : priceComparison.unitOfMeasurement.amount
    }}{{
      priceComparison.unitOfMeasurement.name
    }}
    <span
      *ngIf="getReductionPercentage() > 0"
      style="color: red"
    >-{{ getReductionPercentage() }}%</span>
<!--    <span-->
<!--      class="price-comparison-card__usual-price"-->
<!--      *ngIf="getReductionPercentage() > 0"-->
<!--    > (usually {{-->
<!--        priceComparison.pricePerUnit.usual | currency:'GBP'-->
<!--      }}/{{-->
<!--        priceComparison.unitOfMeasurement.amount === 1 ? '' : priceComparison.unitOfMeasurement.amount-->
<!--      }}{{-->
<!--        priceComparison.unitOfMeasurement.name-->
<!--      }})</span>-->
    <!-- @formatter:on -->
  </p>
  <button class="button-link" (click)="isExpanded = !isExpanded">Products {{ isExpanded ? '-' : '+' }}</button>
  <table *ngIf="isExpanded">
    <tbody>
    <tr
      *ngFor="let product of priceComparison.products"
    >
      <td>{{ product.supermarket }}</td>
      <td
        [style.color]="product.specialOffer? 'red' : null"
      >
        {{ product.pricePerUnit | currency:'GBP' }}
      </td>
      <td
        [style.color]="product.specialOffer? 'red' : null"
      >{{ product.packSize.amount }}{{ product.packSize.unit }}</td>
      <td
        [style.color]="product.specialOffer? 'red' : null"
      >
        {{ product.price | currency:'GBP' }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
