:host {
  display: inline-block;
}

.price-comparison-card {
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  padding: 8px;
  width: 100%;

  &__image {
    width: 100%;
    padding-top: 100%; // square aspect ratio
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__name {
    font-size: 1.1em;
    font-weight: 500;
  }

  &__price {
    font-weight: 300;
  }

  &__usual-price {
    display: block;
  }
}
