<div class="content">
  <h2 class="title">Tracked Items</h2>

  <table *ngIf="itemGroups.length">
    <ng-container *ngFor="let itemGroup of itemGroups; trackBy trackItem; let index = index">
      <thead>
      <tr>
        <td colspan="2" style="padding: 0.25rem 0.5rem 0.25rem 0; font-weight: bold">{{ itemGroup.name }}</td>
        <td><button class="tracked-product__edit" (click)="editItemGroupIndex = index">Edit</button></td>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let product of itemGroup.products; trackBy trackProduct">
        <tr>
          <td style="padding: 0.25rem 0.5rem">
            <em [title]="product.name">{{ product.supermarket }}</em>
          </td>
          <td
            style="padding: 0.25rem 0.5rem"
            [style.color]="product.specialOffer? 'red' : null"
          >
            {{ product.price | currency:'GBP' }}
          </td>
          <td style="padding: 0.25rem 0.5rem">
            {{ product.pricePerUnit | currency:'GBP' }}/{{ itemGroup.unitAmount === 1 ? '' : itemGroup.unitAmount }}{{ itemGroup.unitName }}
          </td>
        </tr>
        <tr *ngIf="product.specialOffer">
          <td colspan="1"></td>
          <td colspan="2" style="padding: 0 0.5rem 0.25rem; color: red">
            {{ product.specialOffer.offerText }}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </ng-container>
  </table>
</div>

<app-edit-item-group-dialog
  *ngIf="editItemGroupIndex !== null"
  [group]="itemGroups[editItemGroupIndex]"
  (editGroup)="onEditGroup($event)"
  (exit)="editItemGroupIndex = null"
  (deleteTrackedGroup)="deleteTrackingGroup($event.id); editItemGroupIndex = null"
  (removeProduct)="removeProduct($event)"
></app-edit-item-group-dialog>
