.tracked-product {
  &__edit {
    border: none;
    background: none;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
}

.price-comparison-list {
  $gutter: 16px;

  display: flex; // TODO use grid here
  flex-wrap: wrap;

  margin: 0 (-$gutter / 2);

  > * {
    margin: $gutter / 2;
    width: calc(25% - #{$gutter});
    max-width: 200px;
    min-width: 160px;
  }
}
