.tracked-product {
  &__edit {
    border: none;
    background: none;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
}

.price-comparison-list {
  $item-spacing: 1rem;

  margin-bottom: -$item-spacing;

  > * {
    margin-bottom: $item-spacing;
  }
}
